body{
    background-image: url(PUBG-Mobile.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.jumbotron h1{
    text-align: center;
    font-size: 7vw;
    text-shadow: 1px 1px 2px black,
    0 0 25px blue,
    0 0 5px darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
}
.jumbotron .container{
    margin-top: 15%;
}